{% extends 'main/base/homebase.html' %}

{% block content %} 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <title>Custom Color Picker</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body-color>
  <div class="output-bar">
    <div class="color-swatch" id="colorPreview"></div>
    <div class="color-info">
      <span class="label">HEX</span>
      <span class="value" id="hexValue">#000000</span>
    </div>
    <div class="color-info">
      <span class="label">RGB</span>
      <span class="value" id="rgbValue">0, 0, 0</span>
    </div>
    <div class="color-info">
      <span class="label">HSL</span>
      <span class="value" id="hslValue">0°, 0%, 0%</span>
    </div>
  </div>

  <div class="color-picker">
    <h1>🎨Color Picker</h1>
    <canvas id="colorWheel" width="300" height="300"></canvas>
    <canvas id="saturation" width="300" height="30"></canvas>
  </div>

  <script src="script.js"></script>
</body-color>
</html>

{% endblock content %}
