{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '' %}main/css/language_learning.css">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>📝 Language Learning Flashcards</h1>

    <div id="flashcard" class="flashcard">
      <div class="front">Your Word</div>
      <div class="back">Translation</div>
    </div>

    <div class="form-group">
      <input type="text" id="wordInput" placeholder="Enter a word (e.g. Hello)" />
      <select id="languageSelect">
        <option value="Hindi">Hindi</option>
        <option value="Korean">Korean</option>
        <option value="Japanese">Japanese</option>
        <option value="Thai">Thai</option>
      </select>
      <button id="translateBtn">Translate</button>
    </div>
  </div>


    <script src="{% static '' %}main/js/language_learning.js"></script>
</body>
</html>