{% load static %}

<!-- Main Header Nav -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '' %}main/css/home-style.css">
  <title>Document</title>
 </head>
 <body>
  
<!--NAVBAR -->
  
<header class="navbar">
  <div class="container nav-container">
    <div class="logo">
      <img src="{% static '' %}main/images/logo.jpg" alt="Findexor Logo" />
    </div>
    <nav>
      <ul class="nav-links" id="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#team">Our Team</a></li>
        <li><a href="#clients">We Work For</a></li>
        <li><a href="#testimonials">Our Clients</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <div class="hamburger" id="hamburger">
        <span></span><span></span><span></span>
      </div>
    </nav>
  </div>
</header>

<!--NAVBAR END-->


  <script src="{% static '' %}main/js/navbar.js"></script>

 </body>
 </html>
<!-- Navbar -->


